# netlify.toml
[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = []

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200